@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
 
    font-family: Roboto;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}

h2{
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid black;
    background-color: gold;
    font-size: 3.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
p{
    text-align: center;
}
   

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
 
    list-style-type: none;
    font-size: 2.5rem;
    
}

ul li{
    width: 100%;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
ul li a{
   display: block;
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    width:100%; 
   
 
}


ul li:last-child,
ul li:last-child a {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}


li:hover, 
li:focus 
{
    
 
    background-color: black;
    color: white;
    cursor: pointer;
}
 

